@model StudentViewModel
<!DOCTYPE html>
<html lang="en">
<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
    <style>
        .imageinst{
                height: 6rem;
        }
    </style>
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="d-flex w-100 mr-5 justify-content-end">
					@if (User.Identity.IsAuthenticated)
					{
						<div class="mr-3 bg-white rounded-circle d-flex justify-content-center" style="width:3.7rem;height: 4rem;" >
							<img class="rounded-circle " width="60" src="~/image/Student/@Model.ExistingImage" />
						</div>
						<div>
						<a asp-action="Logout" asp-controller="Account"  class="btn btn-primary ml-3 header-btn">Logout</a>
						</div>
					}
					else
					{
						<a asp-action="Register" asp-controller="Student" class="btn btn-primary ml-3 header-btn">Register</a>
						<a asp-action="Login" asp-controller="Account" class="btn btn-primary ml-3 header-btn">Login</a>
					}
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					
					<nav class="main-menu">
						<ul>
							@RenderSection("NavbarLinks",required:false)
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
	
	</header>
	<!-- Header section end -->


	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="/img/page-bg/1.jpg">
		<div class="container">
			<div class="site-breadcrumb">
				<a asp-action="Index" asp-controller="Student">Home</a>
				<span>@RenderSection("LinkExist",required:false)</span>
			</div>
		</div>
	</div>
	<!-- Page info end -->
	<section class="container mt-5 mb-5">
	  @RenderBody()
	</section>
	<!-- footer section -->
	<footer class=" footer-section text-center text-lg-start bg-white text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
      </section>
      <!-- Section: Social media -->
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                Education Platform
              </h6>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium qui dicta quod in 
                nemo harum vitae dolorem non veniam suscipit,
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Courses</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Courses</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Courses</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Courses</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Link</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p> http://ahmedesmat.rf.gd</p>
              <p>
                ahmed2211esmat@gmail.com
              </p>
              <p>+20123703441</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
      <hr>
    </footer> 
	<!-- footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
	@RenderSection("Scripts",required:false);
</body>
</html>