@model Education_platform.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Register";
}

<!-- Section: Design Block -->
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
    section{height:100vh}
  </style>
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class=" mb-5 mb-lg-0 position-relative">
      <div class="w-100 rounded"style="background: #6b6b6b66;" >
        <h1 class="text-white mb-0 p-3">Register Student</h1>
      </div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form asp-action="Register" enctype="multipart/form-data">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    <label asp-for="Age" class="control-label"></label>
                    <input  asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label asp-for="Phone" class="control-label"></label>
                    <input required asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-4">
                    <label asp-for="Adress" class="control-label"></label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="photo" class="control-label"></label>
                    <input asp-for="photo" class="form-control" />
                    <span asp-validation-for="photo" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Gender: </h6>
                <div class="form-check form-check-inline">
                <input class="form-check-input"asp-for="Gender" type="radio" id="femaleGender" value="Female" />
                <label class="form-check-label" for="femaleGender">Female</label>
                </div>

                <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Gender" type="radio" id="maleGender"value="Male" />
                <label class="form-check-label" for="maleGender">Male</label>
                </div>
                <div>
                  <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                   <label asp-for="Email" class="control-label"></label>
                    <input required asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-4">
                    <label asp-for="Password" class="control-label"></label>
                    <input required asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input required asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
             
              <!-- Submit button -->
              <button type="submit" class="btn btn-success btn-block mb-4">
                Sign up
              </button>
              <a class="btn btn-primary pr-5 pl-5" asp-action="Login" asp-controller="Account">Login</a>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- Section: Design Block -->











@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
